---
---

<div class="max-w-3xl mx-auto">
  <p class="text-lg text-gray-700 mb-6">
    Un partenariat pour la décarbonisation des entreprises romandes
  </p>
  
  <p class="text-lg text-gray-700 mb-6">
    Romande Energie et dss+ ont décidé de combiner leurs compétences dans le domaine de l'énergie 
    et de la durabilité afin d'accompagner les entreprises dans leur propre transition énergétique 
    bas carbone en mettant en place un programme de réduction des émissions de gaz à effet de serre 
    nommée ZenCO2 (vers le Zéro émission nette de CO2).
  </p>
  
  <p class="text-lg text-gray-700 mb-6">
    ZenCO2, accompagne les entreprises avec une offre complète et modulable qui va du conseil 
    stratégique en réduction des émissions de gaz à effet de serre (diagnostic / quantification 
    de l'empreinte CO2), à la concrétisation de la réduction des émissions en passant par la 
    planification de la décarbonisation, la fixation d'objectifs, le pilotage de la transformation, 
    et la mise en œuvre concrète de projets multi techniques.
  </p>
</div>