---
---

<div class="max-w-3xl mx-auto">
  <p class="text-lg text-gray-700 mb-8">
    Répondre au défi climatique assure la compétitivité et la pérennité de votre entreprise, 
    l'intérêt des investisseurs et l'engagement de vos collaborateurs.
  </p>
  <p class="text-lg text-gray-700 mb-8">
    Parce que les entreprises se heurtent à des difficultés pour concrètement évaluer mais 
    surtout réduire leurs émissions de gaz à effet de serre, parce qu'il s'agit d'embarquer 
    graduellement toute l'organisation dans une telle démarche de changement et parce qu'il 
    importe de mettre en place concrètement les meilleures pratiques et les actions les plus 
    pertinentes, nous avons créé ZenCO2, une offre d'accompagnement en décarbonisation qui 
    vous permet de vous engager concrètement dans la transition énergétique.
  </p>
</div>